# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Variables de entorno
.env
.env.*

# PyInstaller
build/
dist/
*.spec

# Backups y archivos generados
backups/

# Archivos temporales
*.log
*.tmp
*.bak

# Configuración de editores
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db